.tab-container {
  max-width: 600px;
  margin: 2rem auto;
  font-family: sans-serif;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.tab_buttons {
  background-color: #272727;
}

.tab {
  flex: 1;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.tab:hover {
  background: #505050;
}

.tab.active {
  background: #9e9e9e;
  color: #fff;
}

.tab-content {
    opacity: 0;
    transform: translateY(50px);
    pointer-events: none;
    position: absolute;
    width: 100%;
    transition: all 0.3s ease;
}

.tab-content#contact {
  display: flex;
  justify-content: flex-end; /* horizontal center */
  align-items: center; /* top */
  padding-top: 20px; /* optional spacing from top */
  flex-direction: column;
}

.tab-content.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    position: relative;
}


.VS-container {
  width: 100%;
}


.contacts {
  width: 100px;
  margin-top: 10px;
  flex-direction: column;
}

.darkmode {
    flex: 1;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.darkmode:hover {
  background: #505050;
}

.Light {
  flex: 1;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background 0.3s ease;
}

.Light:hover {
  background: #505050;
}

.aboutTXT {
  background-color: rgb(55, 95, 47);
  color: lime;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  border-radius: 5px;
  outline: 3px solid rgb(25, 37, 25);
}

.worked {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  background-color: grey;
  border-radius: 15px;
  outline: 3px solid black;
}